* {
    text-align: center;
    background-color: lightgray;
}

.quote {
    font-size: 186x;
}

ul {
    list-style-type: none;
}

li {
    margin: 12px auto;
    outline: auto;
    padding: 4px;
    background-color: lightpink;
    width: 25%;

h1 {
    color: darkslateblue;
}

.index-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}