* {
    text-align: center;
    background-color: lightgray;
}

.quote {
    font-size: 186x;
}

ul {
    list-style-type: none;
}

h1 {
    color: darkslateblue;
}

.index-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}